.first-react-app-calculating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  padding: 20px;
  margin: 5px;
  background-color: rgb(27, 221, 27);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

